body{
  
  background-color: bisque;
  font-size: 0.4cm;
  padding: 20px ;
  text-align: left;
  margin: 0;
 
}
.container{
  max-width: 800px;
  margin: 30px auto;
  background-color: rgb(135, 155, 194);
  padding: 20px;
  border-radius: 10px;

  
}